.projects-bg {
  background: linear-gradient(to right, var(--color-0) 27%, var(--color-11) 27%);
}

.projects-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.projects-list h2 {
  margin-bottom: 20px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.projects h2 {
  margin-bottom: 20px;
}

.projects ul {
  margin-bottom: 32px;
}

.projects p {
  margin-bottom: 32px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.projects-content a {
  width: max-content;
  margin-top: auto;
}

.projects-content span {
  padding-left: 8px;
}

.projects-techs p {
  margin-bottom: 8px;
}

.badges-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px
}

@media (max-width: 800px) {
  .projects-bg {
    background: var(--color-11);
  }

  .projects {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .projects-list {
    padding-bottom: 60px;
  }
  .projects-content {
    grid-template-columns: 1fr;
  }

  .projects ul {
    font-size: 1rem;
  }

  .projects a {
    place-self: start;
  }
}