.projects-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.projects-list h2 {
  margin-bottom: 20px;
}

.projects-bg {
  background: var(--color-11);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.projects h2 {
  margin-bottom: 20px;
}

.projects p {
  margin-bottom: 32px;
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-techs p {
  margin-bottom: 8px;
}

.projects-content a {
  width: max-content;
  margin-top: auto;
}

.badges-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px
}