.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  background: var(--color-p1);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.btn:hover {
  background: var(--color-p2);
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.badge {
  display: flex;
  border: 1.4px solid rgba(51, 65, 85, 0.70);
  border-radius: 100px;
  padding: 4px 24px 4px 4px;
  align-items: center;
  width: max-content;
}

.badge span {
  color: #3B82F6;
}

.category {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F67ACB;
  background: rgba(246, 122, 203, 0.15);
  padding: 5px 10px;
}