.footer-bg {
  background-color: var(--color-11);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
  text-align: center;
}

button {
  place-self: end;
  width: 37px;
  height: 37px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter .3s ease;
}

button:hover {
  filter: brightness(0.5);
}


@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer-social {
    justify-content: flex-end;
  }
  

  button {
    grid-column: 1/-1;
    place-self: center;
  }
}