.header-bg {
  background-color: var(--color-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  position: relative;
  padding: 16px 0;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #9146FF;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}


.search {
  margin-left: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 280px;
  height: 36px;
}

.search input {
  flex: 1;
  height: 100%;
  background: transparent;
  border: 1px solid rgba(153, 149, 166, 0.25);
  border-radius: 4px 0 0 4px;
  padding: 8px 0 8px 16px;
  box-sizing: border-box;
  outline: none;
  transition: border .3s ease;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search input:focus {
  border: 1px solid var(--color-p1);
}

.search button {
  background: var(--color-p1);
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter .3s ease;
  margin-left: -4px;
}

.search button:hover {
  filter: brightness(0.8);
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--color-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: (--color-10);
  }

  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
