.hero-bg {
  background-color: var(--color-12);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.hero-content {
  align-self: end;
  padding-bottom: 80px;
}

.hero h1 {
  margin-bottom: 32px;
  max-width: 20ch;
}

.hero p {
  margin-bottom: 8px;
}

@media (max-width: 1200px) {
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .hero-bg {
    background: var(--color-11);
    padding-top: 40px;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-bottom: 60px;
  }

  .hero-content {
    padding-bottom: 0px;
  }

  .hero h1 {
    font-size: 32px;
    margin-bottom: 32px;
    max-width: 20ch;
    font-size: 64px;
  }

  .hero img {
    height: 300px;
    width: 100%;
  }
}