.post-details {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;
}

.post-details:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050110;
  width: 100%;
  height: 348px;
  z-index: -1;
}

.top-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -25px;
  width: 10px;
  height: 10px;
  background: url(../../img/posts/icon-arrow.svg) no-repeat center center;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li:not(:first-child) {
  margin-left: 40px;
}

.breadcrumbs a {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 105%;
  color: var(--color-p1);
  transition: .3s ease;
}

.breadcrumbs a:hover {
  color: var(--color-0);
}

.breadcrumbs span {
  font-size: 15px;
  line-height: 105%;
  color: var(--color-0);
}

.btn-post {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-0);
  transition: .3s ease;
}

.btn-post:hover {
  filter: brightness(0.6);
}

.btn-post img {
  margin-right: 14px;
}

.featured-post-info {
  position: relative;
  top: 48px;
  margin-bottom: 80px;
}

.post-image {
  width: 100%;
  height: 472px;
  border-radius: 8px;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-post-info {
  position: relative;
  background: var(--color-0);
  box-shadow: 0px 24px 40px -8px rgba(16, 12, 28, 0.06);
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1008px;
  padding: 48px 72px;
  margin: 0 auto;
  margin-top: -106px;
}

.box-post-info h1 {
  margin-top: 20px;
  margin-bottom: 28px;
}

.box-post-info ul {
  display: flex;
  align-items: center;
}

.box-post-info ul li {
  display: flex;
  align-items: center;
}

.box-post-info ul li:not(:first-child) {
  margin-left: 24px;
}

.box-post-info ul li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--color-6);
  opacity: 0.3;
  display: inline-block;
  margin-right: 24px;
  border-radius: 50%;
}

.box-post-info ul li:first-child::before {
  display: none;
}

.box-post-info ul span {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-10);
  margin-left: 8px;
}

.post-info-general {
  display: flex;
  align-items: flex-start;
}

.post-sidebar {
  position: sticky;
  top: 0;
  flex: 1;
  max-width: 236px;
}

.post-sidebar h6 {
  margin-bottom: 40px;
}

.post-sidebar ul li:not(:last-child) {
  margin-bottom: 16px;
}

.post-sidebar ul li a {
  display: flex;
  align-items: flex-start;
}

.post-sidebar ul li a::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--color-6);
  display: inline-block;
  margin-top: 9px;
  margin-right: 16px;
  border-radius: 50%;
}

.post-content {
  flex: 1;
  max-width: 800px;
  margin-left: 76px;
  width: 100%;
}

.post-content p {
  margin-bottom: 16px;
}

.post-content blockquote {
  border-left: 2px solid rgba(92, 31, 166, 0.15);
  padding-left: 24px;
  margin-bottom: 40px;
}

.post-content blockquote p {
  margin-bottom: 0;
}

.post-content 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
}

.post-content a {
  text-decoration: underline;
  transition: filter .3s ease;
}

.post-content a:hover {
  filter: brightness(0.5);
}

.post-content ul {
  padding-left: 15px;
  list-style-type: disc;
  margin-bottom: 40px;
}

.post-content ul li {
  line-height: 175%;
}

.post-content ul li:not(:last-child) {
  margin-bottom: 16px;
}


@media (max-width: 1150px) {
  .box-post-info {
    max-width: 80%;
    padding: 40px;
  }
}


@media (max-width: 900px) {
  .box-post-info {
    max-width: 700px;
    padding: 40px;
  }
}

@media (max-width: 800px) {
  .box-post-info {
    max-width: 80%;
    padding: 32px 24px;
  }
}

@media (max-width: 600px) {
  .top-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .breadcrumbs {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .breadcrumbs li:last-child {
    margin-left: 0;
    width: 100%;
    margin-top: 16px;
  }

  .post-image {
    height: 320px;
  }
}

@media (max-width: 560px) {
  .featured-post-info {
    margin-bottom: 40px;
  }

  .box-post-info {
    max-width: 90%;
    margin-top: -56px;
  }
  .post-image {
    height: 240px;
  }

  .box-post-info h1 {
    font-size: 20px;
  }

  .box-post-info ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .box-post-info ul li:not(:first-child) {
    margin-left: 0;
    margin-top: 12px;
  }

  .box-post-info ul li:not(:first-child)::before {
    display: none;
  }
}